:root{
    --font-stack-headers: 'Sarabun', -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --font-stack-body: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

    --theme-color-xxxxx-light: #f2ffff;
    --theme-color-xxxx-light: #ebfaff;
    --theme-color-xxx-light: #e3eeff;
    --theme-color-xx-light: #c4c0ff;
    --theme-color-x-light: #d0a1ff;
    --theme-color-light: #f889ff;
    --theme-color-base: #ff78cb;
    --theme-color-dark: #ed49c8;
    --theme-color-x-dark: #d732c4;
    --theme-color-xx-dark: #be1db7;
    --theme-color-xxx-dark: #9f0da3;
    --theme-color-xxxx-dark: #770087;
    --theme-color-xxxxx-dark: #3a0141;
}

html{
    background-color: var(--theme-color-xxxxx-light);
}

body{
    font: 16px/1.5 var(--font-stack-body);
    color: var(--theme-color-xxxxx-dark);
    /* 1rem = 16px */
}

/*
    #1 Stel sarabun in als font

    #2 Kies kleuren voor het design. Aantal varianten?

    #3 Stel de body correct in.

*/
/* APP */
.c-app {
    --local-border-bottom-size: 0.25rem;

    display: grid;
    /* grid-template-columns: 5rem 1fr; */
    grid-template-rows: auto 1fr;
    min-height: 100vh;
   /* height: calc(100vh - var(--local-border-bottom-size))
    border-botom: var(--local-border-bottom-size) solid var(var(--theme-color-base));*/
}

/* HEADER */
.c-header {
    /* positioning */

    /* boxmodel */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    /* typography */
    color: var(--theme-color-xxxxx-light);

    /* appearance */
    background-color: var(--theme-color-xxxxx-dark);
    box-shadow: 0 1px 4px 1px var(--theme-color-xxx-light);
    /* other */

}
.c-logo {
    display: flex;
    align-items: center;

    height: 100%;

    margin-left: -4rem;

    padding-left: 2rem;
    padding-right: 2rem;
    
    text-decoration: none;
    opacity: 1;
    will-change: opacity;
    transform: opacity 300ms ease-out;

}

.c-logo:hover {
    opacity: 0.5;
}

.c-logo__text{
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /*line-height: 1;*/
    color: var(--theme-color-xxx-light);
    font: weight 800px;
    background: var(--theme-color-base);
    height: 100%;
}

.c-nav {
    /*
    align-self: center;
    margin: 0 1em 0 1em;*/
}
.c-nav-list {
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    */
}
.c-nav-list__item {
    display: inline-block;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
}

.c-nav-list__item:hover {
    border-color: var(--theme-color-base);
}

.c-nav-list__item + .c-nav-list__item {
    margin-left: 1.5rem;
}

.c-nav-list__input:checked + .c-nav-list__item{
    border-color: var(--theme-color-base);
}

.c-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    height: 100%;

    padding: 0 2 rem;
    margin-right: -2rem;

    color: var(--theme-color-xxxxx-dark);
    background-color: var(--theme-color-xxxx-light);
}

.c-counter__description{

}

.c-counter__current{
    color: var(--theme-color-x-dark);
}

.c-counter__count{
    font-size: 1.4rem;
    font-weight: 600;
}


/*COUNTRIES*/
.c-countries {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    gap: 2rem;
    
    padding: 2rem;

    overflow-y: auto;
}
.c-country{

}
.c-country__hidden-input{

}

.c-country__input:checked + .c-country__label{
opacity: 0.5;
}

.c-country__label {
    display: flex;
    align-items: center;
}
.c-country__flag-holder{
    --local-flag-dimension:5rem;
    width: var(--local-flag-dimension);
    height: var(--local-flag-dimension);
    overflow: hidden;
    align-items: center;
    justify-items: center;
    
    border-radius: 50%;
}

.c-country__flag{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.c-country__details{
    margin-left: 1rem;
}
.c-country__name{
    color: var(--theme-color-xxxxx-dark);
    font-size: 1.3rem;
}
.c-country__native-name{
    opacity: 0.5;
}

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}